<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!---
            /\    /\
           /  \__/  \
          /          \
         / <O>   <O>  \
         \     Y      /
          \  __^___  /
           _|______|
          /    O    \
         /           |
        /            |
       /             |
      /              |
      |        |  |  |
      |        |__|__|
      |_______/      \
      /              |
      \______________/
                _____      _____
                \   /______\   /
                 \_/        \_/
              ____/  0     0   \
             |/                |
              \________________|              |\
                      |________|______________| \
                     /  @                        |
                    |                            |
                    |                            |
                    \         ___________   __   |
                     \  | \  |           \  | \  |
                      \_|  \_|            \_|  \_|

-->
</manifest>